{
  :docker_daemon_socket "/var/run/docker.sock",
  :endpoint "0.0.0.0:1236"
  :services {"service_name1" {"container_name1" {:skip-running nil}}, "service_name2" {"container_name1" {:skip-running true}}}
}